body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri; }

.imgdefond {
  width: 100%;
  height: 720px;
  background-image: url("../../assets/images/fonddecran.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }

.imgdefondopaque {
  width: 100%;
  height: 720px;
  background-image: url("../../assets/images/fonddecranopaque.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }

.slogan {
  animation-duration: 3s;
  animation-name: bounceInLeft;
  font-size: 4em;
  font-family: Oswald; }

.contentbase {
  width: 100%;
  height: 580px;
  display: flex;
  justify-content: center;
  align-items: center; }

.textconcept {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1em;
  margin-top: 5px; }

.textkitdujardinier {
  background-color: white;
  margin-top: 15px;
  font-size: 1.1em; }

ul {
  list-style-type: none; }

@media screen and (max-width: 600px) {
  .textconcept {
    font-size: 0.75em; } }
@media screen and (max-width: 400px) {
  .textconcept {
    font-size: 0.72em; } }
@media screen and (max-width: 350px) {
  .textconcept {
    font-size: 0.66em; } }
.logo {
  height: 70px;
  width: 70px; }

.navbar-collapse {
  flex-grow: 0; }

.navbar-toggler-icon {
  background-color: red; }

.nav-itema {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px; }

.navbar-nav {
  font-size: 1.3em; }

.nav-link {
  font-family: Oswald; }

.footer {
  height: 60px;
  background-color: #0088CC;
  font-size: 0.7em; }

.footer p {
  margin: 0;
  font-family: Oswald; }

@media screen and (max-width: 600px) {
  .footer {
    font-size: 0.6em; } }
@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft; }

/*# sourceMappingURL=style.css.map */
