body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri; }

.imgdefond {
  width: 100%;
  height: 720px;
  background-image: url("../../assets/images/fonddecrana.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }

.imgdefondopaque {
  width: 100%;
  height: 720px;
  background-image: url("../../assets/images/fonddecranopaque.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }

.slogan {
  animation-duration: 3s;
  animation-name: bounceInLeft;
  font-size: 4em;
  font-family: Oswald;
  color: white; }

.contentbase {
  width: 100%;
  height: 675px;
  display: flex;
  justify-content: center;
  align-items: center; }

.textconcept {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1em;
  margin-top: 5px; }

.textkitdujardinier {
  background-color: white;
  margin-top: 15px;
  font-size: 1.1em; }

.imagekitdujardinier {
  height: 250px;
  width: 200px;
  margin-top: 20px; }

ul {
  list-style-type: none; }

.textmaparcelle {
  background-color: white;
  font-size: 1em;
  margin-top: 5px; }

.textarticles {
  background-color: white;
  font-size: 1.2em;
  margin-top: 5px;
  background-size: cover;
  text-decoration: none; }
  .textarticles a {
    color: black; }
  .textarticles a:hover {
    color: #00a65a; }

.texttitre {
  background-color: white;
  margin-top: 5px;
  color: #0ba660; }

.textarticle {
  background-color: whitesmoke;
  font-size: 1em;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px; }

.textformulaire {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid 1px #0ba660; }

.fa-book-open {
  margin-right: 10px;
  color: #0ba660; }

.blocvert {
  background-color: #209630;
  width: 100%;
  height: 180px; }

table {
  border-collapse: collapse; }

td {
  border: 0.5px solid #0088CC;
  padding: 3px 3px 3px 3px;
  font-size: 0.9em; }

td:nth-child(1) {
  text-transform: uppercase; }

.tableau {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px; }

thead {
  text-transform: uppercase; }

@media screen and (max-width: 990px) {
  .imagekitdujardinier {
    display: none; } }
@media screen and (max-width: 770px) {
  .textconcept {
    font-size: 0.95em; }

  .textarticle {
    font-size: 0.5em; }

  .blocvert {
    height: 400px; } }
@media screen and (max-width: 600px) {
  .textconcept {
    font-size: 0.85em; }

  td {
    font-size: 0.8em; } }
@media screen and (max-width: 500px) {
  td {
    font-size: 0.75em; } }
@media screen and (max-width: 460px) {
  .textconcept {
    font-size: 0.8em; } }
@media screen and (max-width: 450px) {
  td {
    font-size: 0.7em; } }
@media screen and (max-width: 420px) {
  .textconcept {
    font-size: 0.75em; } }
@media screen and (max-width: 415px) {
  td {
    font-size: 0.65em; }

  .blocvert {
    height: 600px; } }
@media screen and (max-width: 390px) {
  .textconcept {
    font-size: 0.71em; }

  .blocvert {
    height: 800px; } }
@media screen and (max-width: 375px) {
  td {
    font-size: 0.64em; }

  .blocvert {
    height: 900px; } }
@media screen and (max-width: 350px) {
  td {
    font-size: 0.56em; }

  .textconcept {
    font-size: 0.66em; } }
.logo {
  height: 70px;
  width: 70px; }

.navbar-collapse {
  flex-grow: 0; }

.navbar-toggler-icon {
  background-color: green; }

.nav-itema {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px; }

.navbar-nav {
  font-size: 1.3em; }

.nav-link {
  font-family: Oswald; }

.footer {
  height: 60px;
  background-color: #DADADA;
  font-size: 0.7em; }

.footer p {
  margin: 0;
  font-family: Oswald; }

@media screen and (max-width: 600px) {
  .footer {
    font-size: 0.6em; } }
@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft; }

.imgdefondopaqueback {
  width: 100%;
  height: 600px;
  background-image: url("../../assets/images/fonddecranopaque.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }

.formchamp {
  margin-left: 30px; }

.formchampsubmit {
  margin-top: 20px;
  margin-left: 30px; }

/*# sourceMappingURL=style.css.map */
