{% extends '@MaParcelleDeBonheur/Default/base.html.twig' %}

{% block content %}

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12"><h1> Cultivez aujourd'hui, vos légumes de demain </h1>
                </div>
            </div>
        </div>
    </div>

{% endblock %}