{% extends '@MaParcelleDeBonheur/Default/base.html.twig' %}

{% block content %}
    <div class="imgdefondopaque">

    <div class="container-fluid">

        <div class="container">
            <div class="row">
                <div class="offset-lg-2 col-lg-8"> <p class="textconcept">A Bruges, la location de parcelles de 80 ou 150m² est dorénavant possible et pour un coût mensuel de 42 ou 52 € par mois.
                        <br><br>
                        L’initiative en revient à Jean-Marc Lassalle qui en créant son entreprise «Ma Parcelle de Bonheur» a pour objectif de réaliser des lotissements de jardins potagers ou d’agrément sur Bordeaux Métropole. Parcelles qui s’intègreront harmonieusement dans les milieux naturels pour des urbains en manque d’espaces verts.
                        <br> <br>
                        L’idée n’a pas seulement l’avantage de permettre à chacun d’être au grand air et de cultiver son jardin. Elle se veut économique. Avec un jardin de 150 m2, l’on peut cultiver des légumes pour nourrir une famille de 3/4 personnes pendant presque une année. </p>
                </div>
                <div class="offset-lg-2 col-lg-8"> <p class="textconcept"> Pour 52 € par mois, vous venez vous ressourcer dans un cadre convivial.
                         Vous faites des économies en cultivant vous-même vos fruits, vos légumes, vos aromates.  Et vous mangez sainement en récoltant vos produits sans pesticide.
                        <br> <br>
                        Dans la lignée des jardins ouvriers et familiaux, « Ma Parcelle De Bonheur » rend accessible les week-ends à la campagne aux familles les moins fortunées.
                        L’occasion rêvée de montrer aux enfants comment poussent nos fruits et légumes.
                        <br><br>
                        Ce sont 169 parcelles qui sont irriguées et équipées de leur cabanon "Chemin Labatut" à Bruges.
                        Ces parcelles sont une alternative contre la vie chère.
                        Une manière de renouer avec la tradition du jardin, la valeur de la terre et de la nature.
                        <br><br>
                        Et « Ma Parcelle de Bonheur », c’est pour chacun le plaisir de connaître les joies de planter, et voir mûrir fruits et légumes, pour ensuite savourer. </p>
                </div>
            </div>
        </div>
    </div>

    </div>
{% endblock %}