{% extends '@MaParcelleDeBonheur/Default/base.html.twig' %}

{% block title %} <title> Mon kit du jardinier </title> {% endblock %}

{% block content %}

    <div class="imgdefondopaque">

        <div class="container-fluid">

            <div class="container">
                <div class="row ">
                    <div class="offset-lg-2 col-lg-8 textkitdujardinier"> <h1 class="text-center"> Le Kit Idéal</h1></div>

                    <div class="offset-lg-2 col-lg-8 textkitdujardinier"> <p> Tout bon jardinier doit avoir les outils nécessaires pour entretenir son potager.
                            Voici le kit idéal du jardinier que nous vous recommandons pour jardiner en toute sérénité : </p>
                        
                        <div class="container">
                            <div class="row">
                                <div class="offset-lg-1 col-lg-5">
                        <ul>
                            <li class="text-center">Une bêche</li>
                            <li class="text-center">Un rateau</li>
                            <li class="text-center">Un sarcloir</li>
                            <li class="text-center">Un arrosoir</li>
                            <li class="text-center">Un petit semoir</li>
                            <li class="text-center">Un transplanteur</li>
                            <li class="text-center">Une fourche</li>
                            <li class="text-center">Un pulvérisateur à main</li>
                            <li class="text-center">Un cordeau</li>
                            <li class="text-center">Des bottes</li>
                            <li class="text-center">Un tuyau d'arrosage 15mm</li>
                            <li class="text-center">Un chapeau</li>
                            </ul>
                                </div>
                                <div class="offset-lg-1 col-lg-5">
                                    <img class="imagekitdujardinier" src="{{ asset ('assets/images/kitdujardinier.jpg') }}" alt="">
                                </div>
                        </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}