{% extends '@MaParcelleDeBonheur/Default/base.html.twig' %}

{% block title %} <title> {{ article.title }} </title> {% endblock %}

{% block content %}

    <div class="imgdefondopaque">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-1 col-lg-10 text-center">
                        <h1 class="texttitre"> {{ article.title }}</h1>
                        <div class="textarticle"> {{ article.content|raw }} </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}