{% extends '@MaParcelleDeBonheur/Default/base.html.twig' %}

{% block title %} <title> Ma parcelle </title> {% endblock %}

{% block content %}
    <div class="imgdefondopaque">

        <div class="container-fluid">

            <div class="container">
                <div class="row">
                    <div class="offset-lg-2 col-lg-8 textmaparcelle"> <h1 class="text-center">La parcelle idéale</h1></div>

                    <div class="offset-lg-2 col-lg-8 textmaparcelle text-center">

                        <table class="tableau">

                            <thead>
                            <td>Fruits et Légumes</td>
                            <td>Quantité</td>
                            <td colspan="2">Date Plantation</td>
                            <td colspan="2">Date Récolte</td>
                            </thead>

                            <tr>
                                <td></td>
                                <td></td>
                                <td>Semis</td>
                                <td>Plants</td>
                                <td>Semis</td>
                                <td>Plants</td>
                            </tr>
                            <tr>
                                <td>Aubergines</td>
                                <td>6 pieds</td>
                                <td>10 Février</td>
                                <td>10 Mai</td>
                                <td>15 Juillet</td>
                                <td>1 Juillet</td>
                            </tr>
                            <tr>
                                <td>Carottes</td>
                                <td></td>
                                <td>15 Mars</td>
                                <td></td>
                                <td>15 Juin</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Choux</td>
                                <td>20 pieds</td>
                                <td></td>
                                <td>15 Juillet</td>
                                <td></td>
                                <td>30 Octobre</td>
                            </tr>
                            <tr>
                                <td>Concombres</td>
                                <td>5 pieds</td>
                                <td></td>
                                <td>10 Mai</td>
                                <td></td>
                                <td>25 Juin</td>
                            </tr>
                            <tr>
                                <td>Courgettes</td>
                                <td>5 pieds</td>
                                <td></td>
                                <td>15 Mai</td>
                                <td></td>
                                <td>15 Juillet</td>
                            </tr>
                            <tr>
                                <td>Epinards</td>
                                <td>20 pieds</td>
                                <td>15 Mars</td>
                                <td>15 Mars</td>
                                <td>15 Juin</td>
                                <td>15 Mai</td>
                            </tr>
                            </tr>
                            <tr>
                                <td>Fraises</td>
                                <td>20 pieds</td>
                                <td></td>
                                <td>1 Mai</td>
                                <td></td>
                                <td>15 Juillet</td>
                            </tr>
                            <tr>
                                <td>Framboises</td>
                                <td>5 pieds</td>
                                <td></td>
                                <td>1 Mai</td>
                                <td></td>
                                <td>15 Juillet</td>
                            </tr>
                            <tr>
                                <td>Haricots Verts</td>
                                <td>20 pieds</td>
                                <td>15 Avril</td>
                                <td></td>
                                <td>30 Juin</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Laitues</td>
                                <td>10 pieds</td>
                                <td></td>
                                <td>1 Avril</td>
                                <td></td>
                                <td>30 Mai</td>
                            </tr>
                            <tr>
                                <td>Mâches</td>
                                <td></td>
                                <td>30 Juillet</td>
                                <td>15 Août</td>
                                <td>30 Septembre</td>
                                <td>23 Septembre</td>
                            </tr>
                            <tr>
                                <td>Petits Pois</td>
                                <td>12 pieds</td>
                                <td></td>
                                <td>15 Mai</td>
                                <td></td>
                                <td>30 Juillet</td>
                            </tr>
                            <tr>
                                <td>Poivrons</td>
                                <td>5 pieds</td>
                                <td></td>
                                <td>15 Mai</td>
                                <td></td>
                                <td>20 Juillet</td>
                            </tr>
                            <tr>
                                <td>Poireaux d'hiver</td>
                                <td></td>
                                <td>15 Avril</td>
                                <td>15 Juillet</td>
                                <td>30 Novembre</td>
                                <td>30 Novembre</td>
                            </tr>
                            <tr>
                                <td>Pommes de terre</td>
                                <td>50 pieds</td>
                                <td>15 Avril</td>
                                <td></td>
                                <td>30 Mai</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Radis</td>
                                <td></td>
                                <td>1 Avril</td>
                                <td></td>
                                <td>1 Mai</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Tomates</td>
                                <td>20 pieds</td>
                                <td></td>
                                <td>15 Mai</td>
                                <td></td>
                                <td>30 Octobre</td>
                            </tr>


                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}