{% extends '@MaParcelleDeBonheur/Default/base.html.twig' %}

{% block title %} <title> Contact </title> {% endblock %}

{% block content %}

    <div class="imgdefondopaque">

        gggg

    </div>
{% endblock %}