body, * {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  font-family: Calibri;
}

.imgdefond {
  width: 100%;
  height: 720px;
  background-image: url('../../assets/images/fonddecrana.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.imgdefondopaque {
  width: 100%;
  height: 720px;
  background-image: url('../../assets/images/fonddecranopaque.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slogan {
  animation-duration: 3s;
  animation-name: bounceInLeft;
  font-size: 4em;
  font-family: Oswald;
  color:white;
}

.contentbase {
  width: 100%;
  height: 675px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textconcept {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1em;
  margin-top: 5px;
}

.textkitdujardinier {
  background-color: white;
  margin-top: 15px;
  font-size: 1.1em;
}

.imagekitdujardinier {
  height: 250px;
  width: 200px;
  margin-top: 20px;
}

ul {
  list-style-type: none;
}

.textmaparcelle {
  background-color: white;
  font-size: 1em;
  margin-top: 5px;
}

.textarticles{
  transition: all 1s;
  background-color: white;
  font-size: 1.2em;
  margin-top: 5px;
  background-size: cover;
  text-decoration: none;
  a{color:black;}
  a:hover {
color: #00a65a  }
}

.texttitre{
  background-color: white;
  margin-top: 5px;
  color: #0ba660
}

.textarticle{
  background-color: white;
  font-size: 1em;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.textformulaire {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid 1px #0ba660;
}

.fa-book-open {
  margin-right: 10px;
  color: #0ba660
}

table {
  border-collapse: collapse;
}

td {
  border: 0.5px solid #0088CC;
  padding: 3px 3px 3px 3px;
  font-size: 0.9em;
}

td:nth-child(1) {
  text-transform: uppercase;
}

.tableau {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

thead {
  text-transform: uppercase;
}

@media screen and (max-width: 990px) {
  .imagekitdujardinier {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  .textconcept {
    font-size: 0.95em;
  }
}

@media screen and (max-width: 600px) {
  .textconcept {
    font-size: 0.85em;
  }
  td {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 500px) {
  td {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 460px) {
  .textconcept {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 450px) {
  td {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 420px) {
  .textconcept {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 415px) {
  td {
    font-size: 0.65em;
  }
}

@media screen and (max-width: 390px) {
  .textconcept {
    font-size: 0.71em;
  }
}

@media screen and (max-width: 375px) {
  td {
    font-size: 0.64em;
  }
}

@media screen and (max-width: 350px) {
  td {
    font-size: 0.56em;
  }
  .textconcept {
    font-size: 0.66em;
  }
}

