.footer {
  height: 60px;
  background-color: #DADADA;
  font-size: 0.7em;
}

.footer p {
  margin:0;
  font-family: Oswald;
}

@media screen and (max-width: 600px) {
  .footer {
    font-size: 0.6em;
  }
}